OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-4o-mini

REMOTE_SUPABASE_URL=
REMOTE_SUPABASE_SERVICE_ROLE_KEY=
REMOTE_SUPABASE_SECRET_KEY=
REMOTE_SUPABASE_PUBLISHABLE_KEY=
REMOTE_SUPABASE_ANON_KEY=
REMOTE_SERVICE_API_KEY=

UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=

# SageMaker embedding endpoint
SAGEMAKER_ENDPOINT_NAME=
